.WeatherUi {
  background-color: #ff0077;
  width: 300px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  color: white;
}

.App {
  background-color: palevioletred;
  height: 481px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.inputButton {
  border: 0px;
}

.inputButton:hover {
  background: #901d52;
  color: white;
  cursor: pointer;
}

.inputBox {
  border: 0px;
}

.Weather {
  color: white;
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weatherImage {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main {
  margin: 30px;
}
.SubMain {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.temperature {
  text-align: center;
}
.wind {
  text-align: center;
}

.humidity {
  text-align: center;
}

.SubImage {
  width: 50px;
  height: 40px;
  margin: 5px;
}
