.App {
  background: linear-gradient(320deg, cyan, #0870a0);
  height: 481px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WeatherUi {
  background-color: #cc9cff;
  border-radius: 5px;
  width: 300px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  color: white;
}

.inputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 25px;
}

.inputButton {
  border: 0px;
  font-weight: bold;
  border-radius: 2px;
  background-color: white;
}

.inputButton:hover {
  background: #7fbfff;
  color: white;
  cursor: pointer;
}

.inputBox {
  font-weight: bold;
  font-size: 20px;
  width: 200px;
}

.inputBox::placeholder {
  display: flex;
  font-size: 10px;
}

.inputBox:focus {
  outline: 0px;
}

.inputBox:placeholder-shown {
  border: 0px;
  border-radius: 2px;
}

.inputBox:not(:placeholder-shown) {
  background-color: transparent;
  border: 0px;
  border-radius: 2px;
  color: white;
}

.Weather {
  color: white;
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weatherImage {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main {
  margin: 10px;
}

.weatherMain {
  margin: 30px;
}
.weatherSubMain {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.temperature {
  text-align: center;
}
.wind {
  text-align: center;
}

.humidity {
  text-align: center;
}

.SubImage {
  width: 50px;
  height: 40px;
  margin: 5px;
}

form fieldset {
  border: 0px;
  display: flex;
  justify-content: space-between;
}
